.card {
  background-color: var(--primary-background-color);
  width: 100%;
  max-width: $card-max-width;
  min-width: $card-min-width;
  border-radius: $border-radius;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: row;

  .disabled {
    color: rgba(var(--blue-gray), 0.5);
    img {
      opacity: 0.5;
    }
  }

  .card-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-grid-info"
      "user-grid-stats"
      "user-grid-contact";
  }

  @media (min-width: $min-width-desktop) {
    .card-grid-container {
      grid-template-columns: $image-size 1fr;
      grid-template-areas:
        "user-grid-info user-grid-info"
        ". user-grid-stats"
        ". user-grid-contact";
    }
  }

  a {
    color: var(--blue-gray);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .info {
    flex-grow: 1;
  }

  .info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
