.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 26px;
  width: 100%;
  max-width: $card-max-width;
  min-width: $card-min-width;
  margin-bottom: 24px;
  color: var(--header-color);
}

button.mode {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: var(--font-light-color);
  cursor: pointer;

  img {
    margin-left: 10px;
  }
}
