@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "colors";
@import "constants";
@import "search-bar";
@import "card";
@import "header";
@import "user-info";
@import "user-contact";
@import "user-stats";

body {
  font-family: "Space Mono", monospace;
  font-size: 15px;
  background-color: $light-grey;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}
