@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card {
  color: #6E728E;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0px 20px 0px;
}
.card.basic {
  grid-area: "basic";
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card.master {
  grid-area: "master";
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.card.professional {
  grid-area: "professional";
  height: 440px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1050px) {
  .card.professional {
    height: 400px;
  }
}
.card.primary {
  color: #FFFFFF;
  background: linear-gradient(90deg, #A2A7F0, #6D72DE);
}
.card.primary .card__price {
  color: #FFFFFF;
}
.card.primary .card__details {
  color: #FFFFFF;
}
.card.primary .card__details .card__details_element {
  border-color: rgba(255, 255, 255, 0.5);
}
.card .card__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.card .card__price {
  color: #4A4D60;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card .card__price .card__price_value {
  font-size: 72px;
}
.card .card__price .card__price_currency {
  font-size: 40px;
}
.card .card__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 20px 0px 32px 0px;
  font-weight: 500;
  color: #4A4D60;
}
.card .card__details .card__details_element {
  padding: 10px 0px 10px 0px;
  border-width: 1px;
  border-color: rgba(110, 114, 142, 0.2);
  border-top-style: solid;
}
.card .card__details .card__details_element:last-child {
  border-bottom-style: solid;
}
.card button {
  width: 100%;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  height: 44px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: auto;
}
.card button.primary {
  background: linear-gradient(90deg, #A2A7F0, #6D72DE);
}
.card button.primary:hover {
  color: #6D72DE;
  border: 1px solid #6D72DE;
  background: transparent;
}
.card button.secondary {
  background-color: #FFFFFF;
  color: #6D72DE;
}
.card button.secondary:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: transparent;
}

.header {
  color: #6E728E;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}
.header .title {
  font-size: 32px;
  color: #4A4D60;
  font-weight: bold;
}

.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 32px 0px 32px 0px;
  font-weight: 500;
  color: rgba(110, 114, 142, 0.5);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
  background: linear-gradient(90deg, #A2A7F0, #6D72DE);
  border-radius: 30px;
  margin: 0px 20px 0px 20px;
}
.toggle:hover {
  background: rgba(109, 114, 222, 0.5);
}

/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: gray;
  top: 3px;
  left: 3px;
  transition: all 0.2s;
  background-color: #FFFFFF;
}
.toggle:after:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: 27px;
}

/* Checkbox vanished */
.checkbox {
  display: none;
}

body {
  font-family: "Montserrat";
  font-size: 15px;
  background-color: #F7F7FE;
  background-image: url("images/bg-bottom.svg"), url("images/bg-top.svg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-areas: "basic professional master";
  justify-content: center;
  align-items: center;
  gap: 0px;
}

@media (max-width: 1050px) {
  .grid-container {
    grid-template-areas: "basic" "professional" "master";
  }
}

/*# sourceMappingURL=main.css.map */
