.header-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 540px;
  box-sizing: border-box;

  .light {
    font-weight: 200;
    font-size: 35px;
    margin-bottom: 10px;
  }

  .bold {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
  }

  .description {
    font-weight: 200;
    font-size: 15px;
    color: $grey-light;
    margin-bottom: 70px;
  }
}

@media (max-width: calc(350px * 3 + 2 * 20px)) {
  .header {
    .light {
      font-size: 24px;
    }
    
    .bold {
      font-size: 24px;
    }
  }
}
