@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;&display=swap');
@import "colors";
@import "header";
@import "card";

body {
  font-family: 'Poppins', sans-serif;
  background-color: $background-color;
  color: $grey;
  padding: 32px;
}
