$toggle-height: 32px;
$toggle-width: 56px;
$toggle-button-size: calc($toggle-height - 6px);

.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 32px 0px 32px 0px;
  font-weight: 500;
  color: rgba($grey-light, 0.5);
}

.toggle {
  position : relative ;
  display : inline-block;
  width : $toggle-width;
  height : $toggle-height;
  background: $purple-background;
  border-radius: 30px;
  margin: 0px 20px 0px 20px;
  &:hover {
    background: rgba($purple, 0.5);
  }
}

/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: $toggle-button-size;
  height: $toggle-button-size;
  border-radius: 50%;
  background-color: gray;
  top: 3px; 
  left: 3px;
  transition: all 0.2s;
  background-color: $white;
  &:hover {
    background: rgba($white, 0.5);
  }
}
  
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: calc($toggle-width / 2 - 1px); 
}

/* Checkbox vanished */
.checkbox { 
  display : none;
}
